.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.code-embed, .heading, .image, .rich-text-block, .heading-2, .image-2, .rich-text-block-2, .framework-body, .rich-text-block-3, .framework-summary, .heading-3, .paragraph, .collection-list-wrapper, .heading-4, .rich-text-block-4, .image-3, .rich-text-block-5, .signal-body, .signal-summary, .heading-5, .paragraph-2, .code-embed-2, .code-embed-3, .code-embed-4, .code-embed-5, .by-line, .code-embed-6, .text-block, .text-block-2 {
  text-align: center;
}

@media screen and (max-width: 479px) {
  .heading-2, .image-2 {
    text-align: center;
  }
}


